@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .container {
        @apply max-w-[1190px] w-full mx-auto px-5
    }
}


@layer base {
    @font-face {
        font-family: 'heebo_regular';
        src: url(./assets/fonts/Heebo-Regular.ttf);
        font-style: normal;
        font-weight: 400;
        font-display: swap;
    }

    @font-face {
        font-family: 'heebo_Medium';
        src: url(./assets/fonts/Heebo-Medium.ttf);
        font-style: normal;
        font-weight: 500;
        font-display: swap;
    }

    @font-face {
        font-family: 'inter_regular';
        src: url(./assets/fonts/Inter_18pt-Regular.ttf);
        font-style: normal;
        font-weight: 400;
        font-display: swap;
    }

    @font-face {
        font-family: 'inter_medium';
        src: url(./assets/fonts/Inter_18pt-Medium.ttf);
        font-style: normal;
        font-weight: 400;
        font-display: swap;
    }
}