@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .container {
        @apply max-w-[1190px] w-full mx-auto px-5
    }

    .CommonHead{
        @apply sm:text-[34px] sm:leading-[123.5%] text-2xl font-heebo_Medium text-gray-graystrong tracking-wide
    }

    .SameText{
        @apply md:text-base text-sm font-inter_regular tracking-[0.17px] md:tracking-[0.15px] text-gray-graydark
    }
    .SameText1{
        @apply md:text-base text-xs leading-[166%] font-inter_regular tracking-[0.4px] md:tracking-[0.15px] text-gray-graydark
    }
    .NewText{
        @apply md:text-base text-sm font-inter_regular tracking-[0.17px] md:tracking-[0.15px] text-purple-Purple_dark
    }
    .Copytext1{
        @apply md:text-base text-xs leading-[166%] font-inter_regular tracking-[0.4px] md:tracking-[0.15px] text-gray-graydark
    }
    .Head{
        @apply sm:text-xl text-base leading-8 tracking-[0.15px] font-heebo_Medium text-gray-graystrong
    }
    .Copytext{
        @apply md:text-base text-sm font-inter_regular tracking-[0.17px] md:tracking-[0.15px] text-gray-graystrong
    }
    .BorderSolid{
        @apply border-[#42265914] border-b rounded-[5px]
    }
}


@layer base {
    @font-face {
        font-family: 'heebo_regular';
        src: url(./assets/fonts/Heebo-Regular.ttf);
        font-style: normal;
        font-weight: 400;
        font-display: swap;
    }

    @font-face {
        font-family: 'heebo_Medium';
        src: url(./assets/fonts/Heebo-Medium.ttf);
        font-style: normal;
        font-weight: 500;
        font-display: swap;
    }

    @font-face {
        font-family: 'inter_regular';
        src: url(./assets/fonts/Inter_18pt-Regular.ttf);
        font-style: normal;
        font-weight: 400;
        font-display: swap;
    }

    @font-face {
        font-family: 'inter_medium';
        src: url(./assets/fonts/Inter_18pt-Medium.ttf);
        font-style: normal;
        font-weight: 400;
        font-display: swap;
    }
}